* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font: 500 14px / 18px Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.link:hover {
    color: rgb(255, 105, 0);
}