* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

.dodo-orange {
    color: rgb(255, 105, 0);
}

body {
    font: 500 16px / 18px Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.link:hover {
    color: rgb(255, 105, 0);
}

.button {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.35s;
    font: inherit;
}

.login-button {
    background-color: rgb(243, 243, 247);
    color: rgb(0, 0, 0);
}

.login-button:hover {
    background-color: rgb(226, 226, 233);
}

.cart-button {
    height: 40px;
    width: 120px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
}
.cart-button:hover {
    background-color: rgb(232, 97, 0);
    
}
.cart-button:active {
    color: rgb(255, 165, 102);
}


.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1105px; /* Максимальная ширина контента */
    margin: 0 auto;    /* Центрируем блок: 0 сверху/снизу, auto слева/справа */
    padding: 0 20px;   /* Внутренние отступы, чтобы на мобилках текст не лип к экрану */
    width: 100%;       /* Чтобы блок занимал всю доступную ширину, но не больше max-width */
    
    margin-top: 20px;
}

.site-header > .flexbox,
.frequent-orders > .flexbox {
    justify-content: flex-start;
}

.flexbox > .profile {
    margin-left: auto;
}

.site-navigation-list, .links-list, .offers-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.top-bar {
    border-bottom: 1px solid rgb(226, 226, 233);
    padding-bottom: 20px;
}

.offer-link .offer-image {
    width: 197px;
    height: 248px;
    border-radius: 10%;
    transition: transform 0.25s;
}

.offer-link .offer-image:hover {
    transform: scale(1.05);
}
.offer-link .offer-image:active {
    transform: scale(0.95);
}

.logo {
    width: 300px
}


.popular-product-image {
    display: block;
    width: 80px;
    height: 80px;
    flex: 0 0 auto; 
}   

.product-image-picture {
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
}

.popular-product-button {
    display: flex;         
    align-items: center;   
    padding: 16px;
    width: 260px;
    min-height: 100px;     
    margin-right: 24px;
    border-radius: 12px;
    border: none;
    background: white;
    transition: box-shadow 150ms ease-out;
    box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px;
    cursor: pointer;
    font: inherit;
}

.popular-product-button:hover {
    box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 12px -4px;
}

.popular-product-button:active {
    box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 0px 0px;
}

.popular-product-info {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 12px; 
    text-align: left;
    font: inherit;
}

.popular-product-name {
    margin-bottom: 4px; 
    font: inherit;
}

.popular-product-price {
    font: inherit;
    color: #5c6370; 
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    height: 440px;
    width: 220px;
    cursor: pointer;
}

.product-title {
    font-size: 20px;
    margin: 8px 0px;
}

.product-image {
    display: block;
    width: 220px;
    height: 220px;
    flex: 0 0 auto; 
    transition: transform 0.2s ease-in-out
}
.product-image:hover {
    transform: translateY(3px);
}
.product-image:active {
    transform: translateY(8px);
}

.product-description {
    color: #5c6370; 
    font-weight: 400;
}

.product-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
    width: 100%;
}

.product-price {
    font-size: 18px;
}

.product-button {
    margin-left: auto;
    width: 120px;
    height: 40px;
    background-color: rgb(255, 240, 230);
    color: rgb(209, 87, 0);
}
.product-button:hover {
    background-color: rgb(255, 210, 179);
}

.grid {
    display: grid;
    justify-content: space-between;
    
    max-width: 1105px; /* Максимальная ширина контента */
    margin: 40px auto;    /* Центрируем блок: 0 сверху/снизу, auto слева/справа */
    padding: 0 20px;   /* Внутренние отступы, чтобы на мобилках текст не лип к экрану */
    width: 100%;       /* Чтобы блок занимал всю доступную ширину, но не больше max-width */
    grid-template-columns: 220px 220px 220px 220px;
    gap: 40px;
}


.delivery-info > .flexbox {
    flex-direction: column;
    align-items: flex-start;
}

.delivery-zone-button {
    position: relative;
    width: 384px;
    height: 395px;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.delivery-zone-button span {
    font-size: 20px;
    line-height: 1.4;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.delivery-title {
    text-transform: uppercase;
    margin-bottom: 7px;
    font-weight: 500;
}

.delivery-zone-button-image {
    width: 100%;
    transition: transform 2s ease-in-out;
}
.delivery-zone-button:hover .delivery-zone-button-image {
    transform: scale(1.5);

}

.delivery-info p,
.delivery-info button
{
    margin-bottom: 20px;
}
.site-footer {
    display: flex;
    background-color: rgb(24, 24, 24);
    height: 640px;
    color: white;
    align-items: center;
    padding-left: 45% ;
}